*.egg-info/
__pycache__/
*.pyc
*.tsbuildinfo
data_raw/
data_interim/
data_processed/
logs/
logs/*.tar.gz
*.tar.gz
Miniconda*.sh
*Miniconda*.sh
ui/node_modules/
ui/dist/
ui/coverage/
ui/vite.config.js
ui/vite.config.d.ts
*.xlsx
*.csv
.venv/
use_cases_info/*
outputs/*
notebooks/ursus_arctos_project/ursus_arctos_habitat_modelling.ipynb
notebooks/ursus_arctos_project/habitat_modelling_workflow.py
jobs/
commands.txt
.vscode/
notebooks/
